<div style="text-align: center">
<img src="assets/Pokemon_logo.svg" alt="logo pokemon" style="width: 30%"/>
</div>

<br/>

<div style="text-align: center">
<button mat-raised-button (click)="lancerCombat()" color="primary">Lancer un nouveau combat</button>
</div>

<div *ngIf="combatLance" class="wrapper">

  <div *ngIf="combat.pokemon1">
    <img [src]="combat.pokemon1.urlImage"><br/>
    {{combat.pokemon1.nom}}<br/>
    <mat-progress-bar mode="determinate" [value]="pourcentageViePokemon(combat.pokemon1)" [color]="typeCouleurViePokemon(combat.pokemon1)" ></mat-progress-bar>
    {{combat.pokemon1.vieActuelle}} / {{combat.pokemon1.vieMaximale}}

    <div>
      <div *ngFor="let attaque of combat.pokemon1.attaques">
        <button mat-stroked-button (click)="lancerAttaqueSurPokemon(combat.pokemon1, attaque, combat.pokemon2)">{{attaque.nom}} ({{attaque.degats}})</button>
      </div>
    </div>
  </div>

  <div *ngIf="combat.pokemon2">
    <img [src]="combat.pokemon2.urlImage"><br/>
    {{combat.pokemon2.nom}}<br/>
    <mat-progress-bar mode="determinate" [value]="pourcentageViePokemon(combat.pokemon2)" [color]="typeCouleurViePokemon(combat.pokemon2)"></mat-progress-bar>
    {{combat.pokemon2.vieActuelle}} / {{combat.pokemon2.vieMaximale}}

    <div>
      <div *ngFor="let attaque of combat.pokemon2.attaques">
        <button mat-stroked-button (click)="lancerAttaqueSurPokemon(combat.pokemon2, attaque, combat.pokemon1)">{{attaque.nom}} ({{attaque.degats}})</button>
      </div>
    </div>
  </div>
</div>