.combatSimple {
  display: flex;
}
.combatSimple > div {
  font-size: 4vh;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  flex: 1;
}

.combatSimple img, .combatEquipe img {
  position: relative;
}

.herbe {
  width: 90px;
  height: 30px;
  position: relative;
  top: -45px;
  z-index: 1;
}

.infosPokemon {
  position: relative;
  top: -55px;
  z-index: 1;
  background-color: white;
}

.blesse {
  animation: clignote 1s 2;
}

.ko {
  animation: disparait 2s forwards;
}

.disparu {
  top: 50px;
}

@keyframes clignote {
  0% {opacity:1;}
  25% {opacity:0;}
  50% {opacity:1;}
  75% {opacity:0;}
}

@keyframes disparait {
  0% {opacity: 1;}
  12% {opacity: 0;}
  25% {opacity: 1;}
  37% {opacity: 0;}
  50% {opacity: 1; top: 0px}
  100% {top: 50px; opacity: 0;}
}